{% extends 'layout.html' %}
{% block body %}
<!--<h2>TODO LIST</h2>-->
<style>tr:nth-child(even) {background-color: #f2f2f2;}</style>
<div class="container">
<table style="width:70%" class="table-responsive  table table-hover active">
    <tr>
      <th>Task</th>
      <th>Date</th>
      <th>Time</th>
    </tr>
    <tr>
      <td>Going to the market</td>
      <td>06/03/2018</td>
      <td>07:15:03</td>
    </tr>
    <tr>
      <td>Go to school</td>
      <td>06/03/2018</td>
      <td>07:30:01</td>
    </tr>

    <tr>
            <td>Go back home</td>
            <td>06/03/2018</td>
            <td>03:05:01</td>
          </tr>
  
    

  </table> 
</div>

{% endblock %}