{% extends 'layout.html' %}
{% block body %}
<br>
<h2>Dashboard <small>Welcome {{session.username}}</small></h2>
<a href="/add_tasks" class="btn btn-success">Add Task</a>
<hr>

<table class="table table-striped">
<tr>
    <th>ID</th>
    <th>Tittle</th>
    <th>Author</th>
    <th>Date</th>
    <th></th>
    <th></th>
</tr>



{% for task in tasks %}
<tr>
    <td class="count"></td>
    <td>{{task.title}}</td>
    <td>{{task.author}}</td>
    <td>{{task.create_date}}</td>
    <td><a href="edit_task/{{task.id}}" class="btn btn-default pull-right">Edit</a></td>
    <td><a href="#" class="btn btn-danger">Delete</a></td>
</tr>

{% endfor %}

</table>

{% endblock %}